<!DOCTYPE html>
<html ng-app="cebolatol">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="translate from any language to cebolinha dialect">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    
	<title>Cebolatol</title>

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<style type="text/css">
		/**
		 * Hide when Angular is not yet loaded and initialized
		 */
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			display: none !important;
		}
	</style>
</head>
<body ng-cloak>

	<!-- Main layout -->
	<div layout="column" layout-fill>

		<!-- Top toolbar -->
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span>Cebolatol</span>
				<!-- Fill up the space between left and right area -->
				<span flex></span>
				<md-button href="https://github.com/julianolf/cebolatol" target="_blank" class="md-icon-button" aria-label="Github">
					<md-tooltip md-direction="left">View Source on Github</md-tooltip>
					<md-icon md-svg-icon="{{ ic_github }}"></md-icon>
				</md-button>
				<md-button>ABOUT</md-button>
			</div>
		</md-toolbar>

		<!-- Main content -->
		<md-content layout-padding>
			<!-- Short info about the app -->
			<h1 class="md-title md-accent">A kind of <del>joke</del> translator tool &nbsp;</h1>
			<p class="md-body-1">From any language to Cebolinha's dialect.</p>
		</md-content>
		<md-content layout="row" layout-sm="column" ng-controller="TranslateCtrl as ctrl">
			<!-- Card for input text -->
			<md-card flex>
				<md-card-content>
					<md-input-container>
						<label>Type your text here</label>
						<textarea rows="4" ng-model="ctrl.usrText" ng-keyup="ctrl.send()"></textarea>
					</md-input-container>
				</md-card-content>
			</md-card>
			<!-- Card for result text -->
			<md-card flex>
				<md-card-content>
					<md-input-container>
						<label>Youl text tlanslated</label>
						<textarea rows="4" ng-model="ctrl.trsText" disabled="disabled"></textarea>
					</md-input-container>
				</md-card-content>
			</md-card>
		</md-content>
	</div>

	<!-- Importa AngularJS, Angular-Material and other required stuffs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

	<!-- Initialize Angular App -->
	<script type="text/javascript">
		// Assign a new service based on a resource from cebalatol API
		var cebolatolServices = angular
			.module('cebolatolServices', ['ngResource'])
			.factory('Translate', ['$resource', function($resource) {
				return $resource('api/tlanslate');
			}]);

		// Define app controllers
		var cebolatolControllers = angular
			.module('cebolatolControllers', []);

			cebolatolControllers.controller('TranslateCtrl', ['$scope', 'Translate',
				function($scope, Translate) {
					var translate = this;

					translate.send = function() {
						var translation = new Translate();
						translation.message = translate.usrText;
						translation.$save(function(response) {
							if (response.hasOwnProperty('phlase')) {
								translate.trsText = response['phlase'];
							}
						});
					};
				}
			]);

		// Initializes and configure a new Angular application
		var cebolatolApp = angular
			.module('cebolatol', ['ngMaterial', 'cebolatolServices', 'cebolatolControllers'])
			.config(function($mdThemingProvider) {
				$mdThemingProvider.theme('default');
			});
    </script>
</body>
</html>